In [1]:
import pandas as pd

In [2]:
Data2 = "grammySongs.csv"

In [3]:
grammy_df = pd.read_csv(Data2)
grammy_df

,Unnamed: 0,X,GrammyAward,GrammyYear,Genre,Name,Artist
0,1,0,Record Of The Year,2018,General,this is America,Childish Gambino
1,2,1,Song Of The Year,2018,General,this is America,Childish Gambino
2,3,2,Best Pop Solo Performance,2018,Pop,Joanne (where Do you Think You're Goin'?),Lady Gaga
3,4,3,Best Pop Duo/Group Performance,2018,Pop,Shallow,Lady Gaga & Bradley Cooper
4,5,4,Best Dance Recording,2018,Dance/Electronic Music,Electricity,Silk City & Dua Lipa Featuring Diplo & Mark Ro...
...,...,...,...,...,...,...,...
423,424,423,Best Rap Solo Performance,1999,Rap,My Name is,Eminem
424,425,424,Best Rap Performance By A Duo Or Group,1999,Rap,you Got Me,The roots featuring Erykah Badu
425,426,425,Best Female Country Vocal Performance,1999,Country,Man! i Feel Like a Woman!,Shania Twain
426,427,426,Best Male Country Vocal Performance,1999,Country,Choices,George Jones
427,428,427,Best Country Song,1999,Country,Come on over,Shania Twain

In [4]:
new_grammy_df = grammy_df.drop(["Unnamed: 0","X"],axis=1)
new_grammy_df['Name'] = new_grammy_df['Name'].str.upper()

In [5]:
new_grammy_df.dropna(axis=0, subset=['Artist'])

,GrammyAward,GrammyYear,Genre,Name,Artist
0,Record Of The Year,2018,General,THIS IS AMERICA,Childish Gambino
1,Song Of The Year,2018,General,THIS IS AMERICA,Childish Gambino
2,Best Pop Solo Performance,2018,Pop,JOANNE (WHERE DO YOU THINK YOU'RE GOIN'?),Lady Gaga
3,Best Pop Duo/Group Performance,2018,Pop,SHALLOW,Lady Gaga & Bradley Cooper
4,Best Dance Recording,2018,Dance/Electronic Music,ELECTRICITY,Silk City & Dua Lipa Featuring Diplo & Mark Ro...
...,...,...,...,...,...
423,Best Rap Solo Performance,1999,Rap,MY NAME IS,Eminem
424,Best Rap Performance By A Duo Or Group,1999,Rap,YOU GOT ME,The roots featuring Erykah Badu
425,Best Female Country Vocal Performance,1999,Country,MAN! I FEEL LIKE A WOMAN!,Shania Twain
426,Best Male Country Vocal Performance,1999,Country,CHOICES,George Jones
427,Best Country Song,1999,Country,COME ON OVER,Shania Twain

In [6]:
#new_grammy_df.groupby("Name").count()[['GrammyYear']]
d_df=new_grammy_df.groupby(['Name', 'GrammyYear','Artist']).count()[['Genre']]

d_df.sort_values("GrammyYear",ascending=False)

                                                                                            Genre
Name                         GrammyYear Artist
THIS IS AMERICA              2018       Childish Gambino                                        3
ELECTRICITY                  2018       Silk City & Dua Lipa Featuring Diplo & Mark Ronson      1
BUBBLIN                      2018       Anderson Paak                                           1
BEST PART                    2018       He.r. Featuring Daniel Caesar                           1
MASSEDUCTION                 2018       St Vincent                                              1
...                                                                                           ...
IT'S NOT RIGHT BUT IT'S OKAY 1999       Whitney Houston                                         1
PUT YOUR LIGHTS ON           1999       santana featuring Everlast                              1
MY NAME IS                   1999       Eminem                                                  1
MARIA MARIA                  1999       Santana                                                 1
BRAND NEW DAY                1999       Sting                                                   1

[366 rows x 1 columns]

In [7]:
d_df.reset_index(inplace=True)

In [8]:
d_df

,Name,GrammyYear,Artist,Genre
0,'TIL SUMMER COMES AROUND,2010,Keith Urban,1
1,24 FRAMES,2015,"Ason Isbell, Songwriter",1
2,24K MAGIC,2017,Bruno Mars,1
3,500 MILES HIGH,2011,"Chick Corea, Soloist",1
4,99 PROBLEMS,2004,Jay-z,1
...,...,...,...,...
361,YOU GOT ME,1999,The roots featuring Erykah Badu,1
362,YOU SAY,2018,"Lauren Daigle; Lauren Daigle, Jason Ingram & P...",1
363,YOU WANT IT DARKER,2017,Leonard Cohen,1
364,YOU'LL THINK OF ME,2005,Keith Urban,1
365,YOUR BODY IS A WONDERLAND,2002,John Mayer,1

In [9]:
d_df.sort_values("GrammyYear",ascending=False)

,Name,GrammyYear,Artist,Genre
319,THIS IS AMERICA,2018,Childish Gambino,3
95,ELECTRICITY,2018,Silk City & Dua Lipa Featuring Diplo & Mark Ro...,1
46,BUBBLIN,2018,Anderson Paak,1
32,BEST PART,2018,He.r. Featuring Daniel Caesar,1
202,MASSEDUCTION,2018,St Vincent,1
...,...,...,...,...
169,IT'S NOT RIGHT BUT IT'S OKAY,1999,Whitney Houston,1
238,PUT YOUR LIGHTS ON,1999,santana featuring Everlast,1
213,MY NAME IS,1999,Eminem,1
201,MARIA MARIA,1999,Santana,1
42,BRAND NEW DAY,1999,Sting,1

In [10]:
d=d_df.rename({'Genre': 'Grammy Award'}, axis=1)

In [11]:
d.sort_values("GrammyYear",ascending=False)

,Name,GrammyYear,Artist,Grammy Award
319,THIS IS AMERICA,2018,Childish Gambino,3
95,ELECTRICITY,2018,Silk City & Dua Lipa Featuring Diplo & Mark Ro...,1
46,BUBBLIN,2018,Anderson Paak,1
32,BEST PART,2018,He.r. Featuring Daniel Caesar,1
202,MASSEDUCTION,2018,St Vincent,1
...,...,...,...,...
169,IT'S NOT RIGHT BUT IT'S OKAY,1999,Whitney Houston,1
238,PUT YOUR LIGHTS ON,1999,santana featuring Everlast,1
213,MY NAME IS,1999,Eminem,1
201,MARIA MARIA,1999,Santana,1
42,BRAND NEW DAY,1999,Sting,1

In [12]:

display(d_df.iloc[3])

Name                500 MILES HIGH
GrammyYear                    2011
Artist        Chick Corea, Soloist
Genre                            1
Name: 3, dtype: object

In [34]:
Data1 = "billboard.csv"

In [35]:
billboard_df = pd.read_csv(Data1)
billboard_df['Name'] = billboard_df['Name'].str.upper()
billboard_df

,Unnamed: 0,Artists,Name,Weekly.rank,Peak.position,Weeks.on.chart,Week,Date,Genre,Writing.Credits,Lyrics,Features
0,1,"Lil Nas,",OLD TOWN ROAD,1,1.0,7.0,2019-07-06,"April 5, 2019","Country,Atlanta,Alternative Country,Hip-Hop,Tr...","Jozzy, Atticus ross, Trent reznor, Billy ray c...","Old Town Road Remix \nOh, oh-oh\nOh\nYeah, I'm...",Billy Ray Cyrus
1,2,"Shawn Mendes, Camila Cabello",SENORITA,2,NaN,NaN,2019-07-06,"June 21, 2019",Pop,"Cashmere cat, Jack patterson, Charli xcx, Benn...",Senorita \nI love it when you call me senorita...,NaN
2,3,Billie Eilish,BAD GUY,3,2.0,13.0,2019-07-06,"March 29, 2019","Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...","Billie eilish, Finneas","bad guy \nWhite shirt now red, my bloody nose\...",NaN
3,4,Khalid,TALK,4,3.0,20.0,2019-07-06,"February 7, 2019","Synth-Pop,Pop","Howard lawrence, Guy lawrence, Khalid",Talk \nCan we just talk? Can we just talk?\nTa...,NaN
4,5,"Ed Sheeran, Justin Bieber",I DON'T CARE,5,2.0,7.0,2019-07-06,"May 10, 2019","Canada,UK,Dance,Dance-Pop,Pop","Ed sheeran, Justin bieber, Shellback, Max mart...",I Don't Care \nI'm at a party I don't wanna be...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
97220,97221,Vitamin C,SMILE,95,NaN,NaN,1999-07-12,NaN,"Jamaica,Pop","Colleen fitzpatrick, Josh deutsch","Smile \nHahaha\nAlright, yeah\nAlright\nFirst ...",Lady Saw
97221,97222,Collective Soul,HEAVY,96,73.0,20.0,1999-07-12,NaN,"Hockey,Gaming,Soundtrack,Rock",Collective soul,Heavy \nComplicate this world you wrapped for ...,NaN
97222,97223,Mary Chapin Carpenter,ALMOST HOME,97,NaN,NaN,1999-07-12,NaN,"Country,Pop","Annie roboff, Beth nielsen chapman, Mary chapi...",Almost Home \nI saw my life this morning\nLyin...,NaN
97223,97224,Q,VIVRANT THING,98,NaN,NaN,1999-07-12,NaN,Rap,"Q tip, J dilla, Barry white",Vivrant Thing \nUh check it out now\nUh no dou...,NaN
97224,97225,The Offspring,WHY DON'T YOU GET A JOB?,100,74.0,15.0,1999-07-12,NaN,"Ska,Punk Rock,Rock",Dexter holland,Why Don't You Get a Job? \nMy friend's got a g...,NaN

In [42]:
billboard_df[billboard_df['Name'] == 'THIS IS AMERICA']

,Unnamed: 0,Artists,Name,Weekly.rank,Peak.position,Weeks.on.chart,Week,Date,Genre,Writing.Credits,Lyrics,Features
4305,4306,Childish Gambino,THIS IS AMERICA,100,1.0,17.0,2018-09-08,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4399,4400,Childish Gambino,THIS IS AMERICA,95,1.0,16.0,2018-09-01,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4486,4487,Childish Gambino,THIS IS AMERICA,88,1.0,15.0,2018-08-25,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4572,4573,Childish Gambino,THIS IS AMERICA,80,1.0,14.0,2018-08-18,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4642,4643,Childish Gambino,THIS IS AMERICA,52,1.0,13.0,2018-08-11,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4733,4734,Childish Gambino,THIS IS AMERICA,45,1.0,12.0,2018-08-04,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4827,4828,Childish Gambino,THIS IS AMERICA,40,1.0,11.0,2018-07-28,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
4924,4925,Childish Gambino,THIS IS AMERICA,39,1.0,10.0,2018-07-21,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5032,5033,Childish Gambino,THIS IS AMERICA,50,1.0,9.0,2018-07-14,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5103,5104,Childish Gambino,THIS IS AMERICA,24,1.0,8.0,2018-07-07,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5192,5193,Childish Gambino,THIS IS AMERICA,17,1.0,7.0,2018-06-30,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5283,5284,Childish Gambino,THIS IS AMERICA,12,1.0,6.0,2018-06-23,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5375,5376,Childish Gambino,THIS IS AMERICA,7,1.0,5.0,2018-06-16,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5469,5470,Childish Gambino,THIS IS AMERICA,4,1.0,4.0,2018-06-09,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5564,5565,Childish Gambino,THIS IS AMERICA,2,1.0,3.0,2018-06-02,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5661,5662,Childish Gambino,THIS IS AMERICA,1,1.0,2.0,2018-05-26,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN
5759,5760,Childish Gambino,THIS IS AMERICA,1,1.0,1.0,2018-05-19,"May 6, 2018","Protest Songs,Hip-Hop,Memes,Gospel,Trap,Rap","Young thug, Ludwig goransson, Childish gambino","This Is America \nYeah, yeah, yeah, yeah, yeah...",NaN

In [46]:
new_billboard_df = billboard_df.drop(["Unnamed: 0","Week","Date",'Writing.Credits','Lyrics','Artists','Genre'],axis=1)

new_billboard_df

,Name,Weekly.rank,Peak.position,Weeks.on.chart,Features
0,OLD TOWN ROAD,1,1.0,7.0,Billy Ray Cyrus
1,SENORITA,2,NaN,NaN,NaN
2,BAD GUY,3,2.0,13.0,NaN
3,TALK,4,3.0,20.0,NaN
4,I DON'T CARE,5,2.0,7.0,NaN
...,...,...,...,...,...
97220,SMILE,95,NaN,NaN,Lady Saw
97221,HEAVY,96,73.0,20.0,NaN
97222,ALMOST HOME,97,NaN,NaN,NaN
97223,VIVRANT THING,98,NaN,NaN,NaN
97224,WHY DON'T YOU GET A JOB?,100,74.0,15.0,NaN

In [47]:
new_billboard_df[new_billboard_df['Name'] == 'OLD TOWN ROAD']

,Name,Weekly.rank,Peak.position,Weeks.on.chart,Features
0,OLD TOWN ROAD,1,1.0,7.0,Billy Ray Cyrus
99,OLD TOWN ROAD,1,1.0,6.0,Billy Ray Cyrus
198,OLD TOWN ROAD,1,1.0,5.0,Billy Ray Cyrus
297,OLD TOWN ROAD,1,1.0,4.0,Billy Ray Cyrus
394,OLD TOWN ROAD,1,1.0,3.0,Billy Ray Cyrus
493,OLD TOWN ROAD,1,1.0,2.0,Billy Ray Cyrus
592,OLD TOWN ROAD,1,1.0,1.0,Billy Ray Cyrus
691,OLD TOWN ROAD,1,1.0,0.0,Billy Ray Cyrus
790,OLD TOWN ROAD,1,1.0,9.0,Billy Ray Cyrus
888,OLD TOWN ROAD,1,1.0,8.0,Billy Ray Cyrus
987,OLD TOWN ROAD,1,1.0,7.0,Billy Ray Cyrus
1085,OLD TOWN ROAD,1,1.0,6.0,Billy Ray Cyrus
1184,OLD TOWN ROAD,1,1.0,5.0,Billy Ray Cyrus
1298,OLD TOWN ROAD,15,15.0,4.0,Billy Ray Cyrus
1415,OLD TOWN ROAD,32,32.0,3.0,Billy Ray Cyrus
1534,OLD TOWN ROAD,51,51.0,2.0,Billy Ray Cyrus
1665,OLD TOWN ROAD,83,NaN,NaN,Billy Ray Cyrus

In [50]:
new_billboard_df.dtypes

Name               object
Weekly.rank         int64
Peak.position     float64
Weeks.on.chart    float64
Features           object
dtype: object

In [39]:
#f_df=new_billboard_df.drop_duplicates('Name')
#f_df

In [58]:
f=new_billboard_df.groupby(['Name']).mean()[['Weekly.rank']]
f.reset_index(inplace=True)
f

                         Name  Weekly.rank
0          '03 BONNIE & CLYDE    16.478261
1            ...READY FOR IT?    41.736842
2     0 TO 100 / THE CATCH UP    48.000000
3                           1    34.414634
4                     1 THING    38.900000
...                       ...          ...
6450         ZACK AND CODEINE    58.666667
6451                     ZERO    87.500000
6452                     ZEZE    16.240000
6453                   ZOMBIE    78.777778
6454                     ZOOM    75.230769

[6455 rows x 2 columns]

In [56]:
f[f['Name'] == 'THIS IS AMERICA']

                 Name  Weekly.rank
5583  THIS IS AMERICA    38.647059

In [59]:
f_df=new_billboard_df.drop_duplicates('Name')
f_df

,Name,Weekly.rank,Peak.position,Weeks.on.chart,Features
0,OLD TOWN ROAD,1,1.0,7.0,Billy Ray Cyrus
1,SENORITA,2,NaN,NaN,NaN
2,BAD GUY,3,2.0,13.0,NaN
3,TALK,4,3.0,20.0,NaN
4,I DON'T CARE,5,2.0,7.0,NaN
...,...,...,...,...,...
97122,PRAISE YOU,87,36.0,20.0,NaN
97124,ANYONE ELSE,89,37.0,20.0,NaN
97125,NANN,90,62.0,20.0,Trina
97211,SHE'S ALWAYS RIGHT,85,74.0,6.0,NaN
97224,WHY DON'T YOU GET A JOB?,100,74.0,15.0,NaN

In [60]:
clean_df=f_df.drop(["Weekly.rank"],axis=1)
#c_df=clean_df.groupby(['Name']).max()[['Peak.position','Weeks.on.chart']]   
#c_df.reset_index(inplace=True)
clean_df

,Name,Peak.position,Weeks.on.chart,Features
0,OLD TOWN ROAD,1.0,7.0,Billy Ray Cyrus
1,SENORITA,NaN,NaN,NaN
2,BAD GUY,2.0,13.0,NaN
3,TALK,3.0,20.0,NaN
4,I DON'T CARE,2.0,7.0,NaN
...,...,...,...,...
97122,PRAISE YOU,36.0,20.0,NaN
97124,ANYONE ELSE,37.0,20.0,NaN
97125,NANN,62.0,20.0,Trina
97211,SHE'S ALWAYS RIGHT,74.0,6.0,NaN
97224,WHY DON'T YOU GET A JOB?,74.0,15.0,NaN

In [62]:
C=f.merge(clean_df, on='Name', how='left')
C

,Name,Weekly.rank,Peak.position,Weeks.on.chart,Features
0,'03 BONNIE & CLYDE,16.478261,4.0,23.0,NaN
1,...READY FOR IT?,41.736842,4.0,20.0,NaN
2,0 TO 100 / THE CATCH UP,48.000000,35.0,20.0,NaN
3,1,34.414634,3.0,42.0,NaN
4,1 THING,38.900000,8.0,20.0,NaN
...,...,...,...,...,...
6450,ZACK AND CODEINE,58.666667,23.0,3.0,NaN
6451,ZERO,87.500000,80.0,2.0,NaN
6452,ZEZE,16.240000,2.0,25.0,"Travis Scott, Offset"
6453,ZOMBIE,78.777778,54.0,18.0,NaN
6454,ZOOM,75.230769,NaN,NaN,NaN

In [64]:
C[C['Name'] == 'SHALLOW']

         Name  Weekly.rank  Peak.position  Weeks.on.chart Features
4728  SHALLOW    23.128205            1.0            39.0      NaN

In [68]:
p=d.merge(C, on='Name', how='left')
#k=p.sort_values("Peak.position",ascending=True)
p
k=p.sort_values("GrammyYear",ascending=False)
#k.drop_duplicates('Name')
k

,Name,GrammyYear,Artist,Grammy Award,Weekly.rank,Peak.position,Weeks.on.chart,Features
319,THIS IS AMERICA,2018,Childish Gambino,3,38.647059,1.0,17.0,NaN
95,ELECTRICITY,2018,Silk City & Dua Lipa Featuring Diplo & Mark Ro...,1,85.800000,62.0,10.0,NaN
46,BUBBLIN,2018,Anderson Paak,1,NaN,NaN,NaN,NaN
32,BEST PART,2018,He.r. Featuring Daniel Caesar,1,85.315789,75.0,19.0,H.E.R.
202,MASSEDUCTION,2018,St Vincent,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
169,IT'S NOT RIGHT BUT IT'S OKAY,1999,Whitney Houston,1,92.000000,NaN,NaN,NaN
238,PUT YOUR LIGHTS ON,1999,santana featuring Everlast,1,NaN,NaN,NaN,NaN
213,MY NAME IS,1999,Eminem,1,NaN,NaN,NaN,NaN
201,MARIA MARIA,1999,Santana,1,10.500000,1.0,26.0,The Product G&B
42,BRAND NEW DAY,1999,Sting,1,NaN,NaN,NaN,NaN

In [24]:
k[k['Name'] == 'THIS IS AMERICA']

,Name,GrammyYear,Artist,Grammy Award,Peak.position,Weeks.on.chart,Features
319,THIS IS AMERICA,2018,Childish Gambino,3,1.0,17.0,NaN

In [69]:
final_df=k.rename({'Weekly.rank': 'Weekly.average'}, axis=1)
final_df

,Name,GrammyYear,Artist,Grammy Award,Weekly.average,Peak.position,Weeks.on.chart,Features
319,THIS IS AMERICA,2018,Childish Gambino,3,38.647059,1.0,17.0,NaN
95,ELECTRICITY,2018,Silk City & Dua Lipa Featuring Diplo & Mark Ro...,1,85.800000,62.0,10.0,NaN
46,BUBBLIN,2018,Anderson Paak,1,NaN,NaN,NaN,NaN
32,BEST PART,2018,He.r. Featuring Daniel Caesar,1,85.315789,75.0,19.0,H.E.R.
202,MASSEDUCTION,2018,St Vincent,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
169,IT'S NOT RIGHT BUT IT'S OKAY,1999,Whitney Houston,1,92.000000,NaN,NaN,NaN
238,PUT YOUR LIGHTS ON,1999,santana featuring Everlast,1,NaN,NaN,NaN,NaN
213,MY NAME IS,1999,Eminem,1,NaN,NaN,NaN,NaN
201,MARIA MARIA,1999,Santana,1,10.500000,1.0,26.0,The Product G&B
42,BRAND NEW DAY,1999,Sting,1,NaN,NaN,NaN,NaN

In [71]:
final_df['Weekly.average']=final_df['Weekly.average'].round(decimals=2)
final_df

,Name,GrammyYear,Artist,Grammy Award,Weekly.average,Peak.position,Weeks.on.chart,Features
319,THIS IS AMERICA,2018,Childish Gambino,3,38.65,1.0,17.0,NaN
95,ELECTRICITY,2018,Silk City & Dua Lipa Featuring Diplo & Mark Ro...,1,85.80,62.0,10.0,NaN
46,BUBBLIN,2018,Anderson Paak,1,NaN,NaN,NaN,NaN
32,BEST PART,2018,He.r. Featuring Daniel Caesar,1,85.32,75.0,19.0,H.E.R.
202,MASSEDUCTION,2018,St Vincent,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
169,IT'S NOT RIGHT BUT IT'S OKAY,1999,Whitney Houston,1,92.00,NaN,NaN,NaN
238,PUT YOUR LIGHTS ON,1999,santana featuring Everlast,1,NaN,NaN,NaN,NaN
213,MY NAME IS,1999,Eminem,1,NaN,NaN,NaN,NaN
201,MARIA MARIA,1999,Santana,1,10.50,1.0,26.0,The Product G&B
42,BRAND NEW DAY,1999,Sting,1,NaN,NaN,NaN,NaN